@import '../../styles/settings.scss';

.cardForm{
    text-align: left;
    left: 0;
    position: relative;
    padding: 0px;
    font-weight: bold;
    margin: 0px;
}
.input{
    max-width: 100px;
}

