@import '../../styles/settings.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: darken($color-dark, 3%);;
  padding: 10px;
}

.navbarlink {
  text-decoration: none;
  color: #f9f8f8;
  font-size: 24px;
  margin: 0 10px;

}
.linkActive{
  text-decoration: none;
  color: rgb(154, 118, 118);
  font-size: 24px;
  margin: 0 10px;
}




